.buttons__header {
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 0;
  margin-bottom: 32px;
}

.buttons {
  margin-bottom: 32px;
}

.buttons__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.buttons__wrapper:first-of-type .buttons__button {
  margin-top: auto;
}

.buttons__wrapper:not(:first-of-type) .buttons__button {
  pointer-events: none;
}

.buttons__subtitle {
  display: block;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 20px;
  color: $gray;
}
