.details__header {
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 0;
}

.details__field {
  font-weight: 500;
}

.details__field--disabled {
  color: $gray;
}

.details__field[open] .details__summary {
  color: $violet;
}

.details__text {
  font-weight: 400;
}
