.email {
  margin: 0;
  margin-bottom: 42px;
}

.email__header {
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 0;
  margin-bottom: 32px;
}

.email__subtitle {
  display: block;
  margin: 0;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 20px;
  color: $gray;
}

.email__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.email__label:not(:first-of-type) {
  pointer-events: none;
}

.email__label:first-of-type .email__group {
  margin-top: auto;
}
