.email {
  margin: 0;
  margin-bottom: 64px;
}

.email__header {
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 0;
  margin-bottom: 32px;
}

.email__subtitle {
  display: block;
  margin: 0;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 20px;
  color: $gray;
}

.email__group--real {
  margin-top: auto;
}

.email__label {
  display: flex;
  flex-direction: column;
}
