.select__header {
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 0;
}

.select__preview {
  font-size: 16px;
  line-height: $adaptive-line-height;
}

.select__item--current {
  color: $violet;
}

.select__item--hover {
  color: $white;
  background-color: $violet;
}
