.select__header {
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 0;
  margin-bottom: 24px;
}

.select__text {
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 0;
  margin-bottom: 48px;
}

.select__input {
  margin-bottom: 234px;
}
