.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  column-gap: 32px;

  @media(max-width: $tablet-max-width) {
    grid-template-columns: repeat(8, 1fr);
  }

  @media(max-width: $mobile-max-width) {
    column-gap: 24px;
  }
}

.grid__header {
  grid-column-start: 1;
  grid-column-end: 7;
  margin: 0;
  margin-bottom: 24px;

  @media(max-width: $tablet-max-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.grid__text {
  grid-column-start: 1;
  grid-column-end: 7;
  margin: 0;
  margin-bottom: 54px;

  @media(max-width: $tablet-max-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  @media(max-width: $mobile-max-width) {
    margin-bottom: 32px;
  }
}

.grid__subheader {
  grid-column-start: 1;
  grid-column-end: 7;
  margin: 0;
  margin-bottom: 26px;

  @media(max-width: $tablet-max-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.grid__parameters {
  grid-column-start: 1;
  grid-column-end: 9;
  margin: 0;
  margin-bottom: 48px;

  @media(max-width: $tablet-max-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.grid__image-wrapper {
  grid-column-start: 1;
  grid-column-end: -1;
  margin-bottom: 64px;
  width: 100%;
  height: auto;

  @media(max-width: $mobile-max-width) {
    margin-bottom: 40px;
  }
}

.grid__image-wrapper:last-child {
  margin-bottom: 80px;

  @media(max-width: $mobile-max-width) {
    margin-bottom: 60px;
  }
}

.grid__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
