.navigation {
  grid-column-start: 1;
  grid-column-end: 4;
  position: fixed;
  top: 280px;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation__item {
  padding: 8px 0;
}

.navigation__item:hover .navigation__link {
  color: $black;
}

.navigation__link {
  font-size: 14px;
  line-height: 20px;
  color: $gray;
  text-decoration: none;
}
