.header-h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: $adaptive-line-height;

  @media(max-width: $mobile-max-width) {
    font-size: 32px;
  }
}

.header-h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: $adaptive-line-height;

  @media(max-width: $mobile-max-width) {
    font-size: 28px;
  }
}

.header-h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: $adaptive-line-height;

  @media(max-width: $mobile-max-width) {
    font-size: 20px;
  }
}

.header-h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
