@import 'fonts.scss';
@import 'variables.scss';
@import 'page-body.scss';
@import 'headers.scss';

@import 'page-header/page-header.scss';
@import 'page-header/menu.scss';
@import 'page-header/user.scss';
@import 'page-header/user-photo.scss';
@import 'page-header/user-information.scss';

@import 'page-content/page-content.scss';
@import 'page-content/navigation.scss';

@import 'introduction/introduction.scss';
@import 'grid/parameters.scss';
@import 'typography/typography.scss';
@import 'typography/examples.scss';
@import 'ui/email.scss';
@import 'ui/select.scss';
@import 'ui/buttons.scss';
@import 'ui/details.scss';

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
