// Devices width

$tablet-max-width: 1200px;
$mobile-max-width: 736px;

// Colors

$white: #FFFFFF;
$black: #1B1B1B;
$gray: #7D7D7D;
$light-gray: #AEADAE;
$violet: #3F29E3;
$pink: #DC7FED;
$red: #E80F3B;

// Parameters

$adaptive-line-height: calc(100% + 8px);
