.menu {
  display: none;
  position: fixed;
  top: -100vh;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 8px 64px;
  padding-bottom: 51px;
  height: 100vh;
  max-height: 756px;
  background-image: url('../img/menu-back.jpg');
  background-position: center center;
  background-size: cover;
  background-color: #166466;
}

.menu--open {
  animation-name: openMenu;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.menu--close {
  animation-name: closeMenu;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.menu__grid-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 112px 1fr;
  column-gap: 32px;
  margin: 0 auto;
  max-width: 1312px;
  height: 100%;
}

.menu__back {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: -1;
  width: 56.54%;
  height: calc(100vh - 16px);
  max-height: 740px;
  background-color: $white;
}

.menu__user-container {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 48px;
}

.menu__aside-text {
  grid-column-start: 2;
  grid-column-end: 4;
  font-size: 14px;
  line-height: 20px;
  color: $gray;
}

.menu__information {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}

.menu__button {
  grid-column-start: -2;
  grid-column-end: -1;
  margin-top: 36px;
  margin-left: auto;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu__button:hover {
  opacity: 0.5;
  transition-duration: 100ms;
  transition-timing-function: ease-in;
}

.menu__button:active {
  opacity: 0.8;
}

@keyframes openMenu {
  0% {
    display: none;
    opacity: 0;
    top: -100vh;
  }

  1% {
    display: block;
    opacity: 0;
    top: -100vh;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes closeMenu {
  0% {
    display: block;
    opacity: 1;
    top: 0;
  }

  99% {
    display: block;
    opacity: 0;
    top: -100vh;
  }

  100% {
    display: none;
  }
}
