.user {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;

  @media(max-width: $tablet-max-width) {
    grid-column-start: 1;
    grid-column-end: 6;
  }

  @media(max-width: $mobile-max-width) {
    grid-column-start: 1;
    grid-column-end: -2;
  }
}

.user__photo {
  margin-right: 24px;
}

.user__name {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: $gray;
}

.user__lastname {
  font-weight: 500;
  color: $black;
}
