.button {
  display: block;
  padding: 16px 24px;
  width: 148px;
  font-size: 16px;
  line-height: $adaptive-line-height;
  color: $white;
  text-align: center;
  background: linear-gradient(45deg, $pink 0%, $violet 100%);
  border: none;
  border-radius: 32px;
}

.button--hover,
.button:hover {
  background: linear-gradient(225deg, $pink 0%, $violet 100%);
}

.button--active,
.button:active {
  background: linear-gradient(207deg, $pink 0%, $violet 100%);
}

.button--disabled,
.button:disabled {
  background: #CBCBCC;
}
