
.text-field {
  position: relative;
}

.text-field__placeholder {
  position: absolute;
  top: 0;
  left: 0;
}

.text-field__placeholder--active,
.text-field__input:focus-visible + .text-field__placeholder {
  top: -24px;
  font-size: 12px;
  line-height: 20px;
  color: $gray;
}

.text-field__input {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 6px;
  width: 100%;
  height: 32px;
  font-size: 16px;
  line-height: $adaptive-line-height;
  border: none;
  box-shadow: 0 2px 0 0 $light-gray;
  transition-duration: 100ms;
  transition-timing-function: ease-in;
}

.text-field__input:hover,
.text-field__input--hover {
  box-shadow: 0 2px 0 0 $violet;
  transition-duration: 100ms;
  transition-timing-function: ease-in;
}

.text-field__input:focus-visible,
.text-field__input--focus {
  outline: none;
  box-shadow: 0 4px 0 0 $violet;
  transition-duration: 100ms;
  transition-timing-function: ease-in;
}

.text-field__input--error {
  box-shadow: 0 4px 0 0 $red;
  transition-duration: 100ms;
  transition-timing-function: ease-in;
}

.text-field__input--focus .text-field__placeholder {
  font-size: 12px;
  line-height: 20px;
  color: $gray;
}

.text-field__input--error ~ .text-field__placeholder {
  font-size: 12px;
  line-height: 20px;
  color: $red;
}

.text-field__error {
  display: none;
  position: absolute;
  top: 40px;
  opacity: 0;
  font-size: 14px;
  line-height: 20px;
  color: $red;
}

.text-field__input--error ~ .text-field__error {
  display: block;
  opacity: 1;
}
